# Ignore env so it's never baked into the image
.env

# Ignore build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore Go build cache and output
bin/
obj/
vendor/
*.out

# Ignore Git files
.git
.gitignore
